<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dqsy.manager.mapper.AccountMapper">

    <!-- 字段(带主键) -->
    <sql id="ziduan">
        account.id,
        account.username,
        account.password,
        account.sex,
        account.email,
        account.screename,
        account.locale,
        account.enabled,
        account.activated,
        account.registertime,
        account.lastlogintime,
        account.registerip,
        account.mobile,
        account.salt,
        account.createtime
    </sql>

    <!--根据用户名查询用户信息-->
    <select id="findAccountByNameAndPassword" resultType="net.dqsy.manager.pojo.Account">
        select
        <include refid="ziduan"/>
        FROM
        account
        WHERE
        account.username = #{userName}
        and
        account.password = #{userPwd}
    </select>
</mapper>