<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dqsy.manager.mapper.ActivityMapper">

    <select id="findById" resultType="net.dqsy.manager.pojo.Activity">
        select
        *
        FROM
        activity
        WHERE
        activity.id = #{id}
    </select>

    <select id="findList" resultType="net.dqsy.manager.pojo.Activity">
        SELECT
        *
        from
        activity
        WHERE 1 = 1
        <if test="types != null">
            and  type in
            <foreach item="type" index="index" collection="types" open="(" separator="," close=")">
                #{type}
            </foreach>
        </if>

        ORDER  BY
        id
        DESC
        <if test="limit != 0">
        LIMIT #{start},#{limit}
        </if>
    </select>

    <insert id="save" parameterType="net.dqsy.manager.pojo.Activity" keyProperty="id">

    </insert>


    <select id="getTotalCount" resultType="int">
        SELECT
        COUNT(*)
        from
        activity
        WHERE 1 = 1
        <if test="types != null">
            and  type in
            <foreach item="type" index="index" collection="types" open="(" separator="," close=")">
                #{type}
            </foreach>
        </if>
    </select>

    <insert id="add">
        INSERT INTO activity(title, subtitle, content, limitnum, starttime, endtime, departmentId, type)
        VALUES
        (#{activity.title}, #{activity.subTitle}, #{activity.content}, #{activity.limitNum}, #{activity.startTime}, #{activity.endTime}, #{activity.departmentId}, #{activity.type})
    </insert>

    <delete id="deleteById">
        DELETE FROM activity WHERE activity.id = #{activityId}
    </delete>


</mapper>