<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dqsy.manager.mapper.DepartmentMemberMapper">


    <select id="findDepartmentMemberList" resultType="net.dqsy.manager.pojo.Account">
        SELECT
        account.*
        FROM
        `account`, department_member
        WHERE
        account.id = department_member.accountId
        AND
        department_member.departmentId = #{departmentId}
        order by account.type ASC
        <if test="limit != 0">
            LIMIT #{start},#{limit}
        </if>
    </select>


    <select id="getTotalCount" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        department_member
        WHERE
        department_member.departmentId = #{departmentId}
    </select>

    <update id="delete">
        DELETE from department_member
        WHERE department_member.accountId = #{accountId}
        and department_member.departmentId = #{departmentId}
    </update>

    <insert id="insert">
        INSERT INTO department_member (accountId, departmentId, role, remark, status, ctreateTime) VALUES
        (#{member.accountId}, #{member.departmentId}, #{member.role}, #{member.remark}, #{member.status}, #{member.createTime})
    </insert>

    <select id="findManager" resultType="net.dqsy.manager.pojo.Account">
        SELECT *
        FROM department_member, account WHERE department_member.accountId = accountId and department_member.role = #{role} AND
        department_member.departmentId = #{departmentId} ORDER  BY department_member.ctreateTime DESC
    </select>



    <select id="findMemberByAccountId" resultType="net.dqsy.manager.pojo.DepartmentMember">
        SELECT *
        FROM
        department_member
        WHERE department_member.accountId = #{accountId}
    </select>
</mapper>

