<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dqsy.manager.mapper.OrganizationMapper">

    <select id="findOrganizationByAccountId" parameterType="long" resultType="net.dqsy.manager.pojo.Organization">
        SELECT * FROM organization WHERE organization.account_id = #{accountId}
    </select>

    <select id="findById" parameterType="long" resultType="net.dqsy.manager.pojo.Organization">
        SELECT * FROM organization WHERE organization.id = #{orgId}
    </select>

    <select id="updateOrganization">
    UPDATE  organization
    SET organization.`name` = #{organization.name},
     organization.`logo` = #{organization.logo}
     WHERE organization.id = #{organization.id}
    </select>
</mapper>